{{!-- pull every comment and loop through each one to make a card --}}
{{#each comment as |comment|}}
  <div class='comment-card'>
    <div class='comment-user'>{{comment.user_id}}</div>
    <div class='comment-text'>{{comment.comment_text}}</div>
  <button type='button'>add a comment</button>
{{/each}}