<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project 2</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <nav>
    <header>
      <a href="/">
        <h1 id='tech-blog-title'>Art Website Header</h1>
      </a>
    </header>

    <ul>
      <li><a href="/upload">Share your artwork</a></li>
      <li><a href="/historical-art">View Historical Art</a></li>
      {{!-- <li><a href="/login">Login</a></li>
      <li><a href="#" id='logout-button'>Logout</a></li> --}}
    </ul>
  </nav>

    <main>
      {{{ body }}}
    </main>
    
</body>
</html>
