{{!--display main art--}}
<img src='' id='artImage'>

<div>
  <h1 id='artTitle'></h1>
  <div>
    <h3 id='artistName'></h3>
    <p>Date:<span id='date'></span></p>
    <p id='medium'></p>
    <a href='' id='link'></a>
  </div>
</div>

{{!-- display title and artist name --}}

