@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {}

.bg-image-upload {
    position: absolute;
    filter: blur(7px);
    -webkit-filter: blur(7px);
    /* Full height */
    background: linear-gradient(#63403a98, #180f0fbe, #20100f), url("/assets/upload-background.jpg") no-repeat center;
    background-size: contain;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    box-shadow: inset 0 0 150px black;
    background-color: black;
}

.wrapper-upload {
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, #ad5252bd, rgba(219, 200, 29, 0.144));
    border-radius: 20px;
    margin-bottom: 100px;
    display: flex;
    flex-flow: row wrap;
    padding: 75px;
    border-style: solid;
    border-color: #eedbdb3a;
    margin-top: 100px;
}

.shadow-sharp {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.20), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.10), 0 16px 16px rgba(0, 0, 0, 0.05);
}

.drag-area {
    text-align: center;
    border: 2px dashed #eedbdb;
    height: 500px;
    width: 500px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.158);
}

.upload-form {
    margin-top: 0;
    min-width: 250px;
    max-width: 475px;
    width: 75%;
    padding-left: 100px;
}

@media (max-width: 1275px) {
    .upload-form {
        margin: auto;
        min-width: 250px;
        max-width: 475px;
        width: 75%;
        padding-left: 0px;
    }
}

.upload-form .form-input[type=text], label {
    min-width: 250px;
    max-width: 475px;
}

.upload-form textarea {
    height: 150px;
}

.drag-area.active {
    border: 2px solid #eedbdb;
}

.drag-area .icon {
    font-size: 100px;
    color: #eedbdb;
}

.drag-area header {
    font-size: 30px;
    font-weight: 500;
    color: #eedbdb;
}

.drag-area span {
    font-size: 25px;
    font-weight: 500;
    color: #eedbdb;
    margin: 10px 0 15px 0;
}

.drag-area button {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #eedbdb;
    color: #ad5252;
    border-radius: 5px;
    cursor: pointer;
}

.drag-area img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.upload-form textarea[type=text], .upload-form .form-input[type=text] {
    border-color: #eedbdb71;
    border-style: solid;
    outline: #eedbdb;
    color: #eedbdb;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.158);
}